## Solve some middle school questions

### get the area of the trapezoid

Bottom = 1526.47
top = 920.14
height = 521.1314

### Solve a quadratic equation

3x*x - 18x + 4 = 0

## Solve some high school questions

calculate: 1+2+4+8+16+32+...+1024=?

calculate: 1+4+9+16+25+36+...+10000=?

## Achieve some elementary school questions

chicken and rabbits are closed in one cage:

there are 4 heads, and 12 feet.

how many chicken? How many rabbits?

In [35]:
chicken=0
rabbit=0

head_max = 4
feet_max = 12

while True:
    feet = 2*chicken+4*rabbit # 3c, 1r
    if feet == feet_max:
        break
    elif chicken+rabbit==head_max: 
        chicken = 0
        rabbit += 1
        continue # continue means jump to next iteration
    else:
        chicken = chicken + 1                       # chicken += 1

In [36]:
chicken=0
rabbit=0

head_max = 123
feet_max = 492

while True:
    feet = 2*chicken+4*rabbit
    if chicken+rabbit>head_max:
        chicken = 0
        rabbit += 1
    elif feet == feet_max:
        break
    else:
        chicken = chicken + 1                       # chicken += 1

In [37]:
chicken, rabbit

(0, 123)

OK. Now we have 123 heads, and 492 feet. How many chicken? How many rabbits?

In [44]:
# Prefer
head_max = 4
feet_max = 12

rabbit = 0
chicken = 0
feet = 0
while chicken<=head_max:
    rabbit = head_max-chicken
    feet = 2*chicken+4*rabbit
    if feet==feet_max:
        break
    else:
        chicken += 1

In [43]:
chicken, rabbit

(2, 2)